<form class="container-form">
  <div class="wrapper">
    <!-- Номер заказа -->
    <div class="title-recipe">
      <h2>Заказ №</h2>
      <p>{{ order?.OrderId }}</p>
    </div>

    <!-- Клиент -->
    <div class="ingredients-recipe">
      <h2>Клиент</h2>
      <p><b>Имя:</b> {{ order?.FullName }}</p>
      <p><b>Телефон:</b> {{ order?.Phone }}</p>
      <p *ngIf="order?.Email"><b>Email:</b> {{ order?.Email }}</p>
    </div>

    <!-- Даты -->
    <div class="description-recipe">
      <h2>Даты</h2>
      <p>Дата заказа: {{ order?.OrderDate | date: 'dd.MM.yyyy HH:mm' }}</p>
      <p>Сделать до: {{ order?.DueDate | date: 'dd.MM.yyyy' }}</p>
    </div>

    <!-- Статус -->
    <div class="description-recipe">
      <h2>Статус</h2>
      <p>{{ order?.Status }}</p>
    </div>

    <!-- Комментарий -->
    <div class="description-recipe" *ngIf="order?.Comment">
      <h2>Комментарий</h2>
      <p>{{ order?.Comment }}</p>
    </div>

    <!-- Позиции заказа -->
    <div class="ingredients-recipe">
      <div *ngIf="order?.Items?.length">
        <h3>Позиции заказа:</h3>
        <ul>
          <li *ngFor="let item of order?.Items">
            {{ item.ProductName }} — {{ item.Quantity }} шт. {{ item.Decoration ? '(Начинка: ' + item.Decoration + ')' : '' }}
          </li>
        </ul>
      </div>


    </div>

  </div>

  <!-- Кнопка редактирования -->
  <mat-icon
    *ngIf="rolesService.getIsAdmin()"
    (click)="editOrder()"
  >
    edit
  </mat-icon>
</form>
