.wrapper {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding-left: 30px;
}

.container-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
}
