* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-recipes-container {
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: 50px auto 0px auto;
}

.my-recipe-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
}

h3 {
  margin: 0;
  flex-grow: 1;
  width: 200px;
  word-wrap: break-word;
}

.cook-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  background-color: #333333;
}
