<div class="my-recipes-container">
  <h1>Заказы</h1>

  <div
    class="my-recipe-block"
    *ngFor="let order of orders$ | async; let i = index"
    (click)="openOrder(order.OrderId)"
  >
    <img
      src="/assets/cook-img.png"
      alt="заказ"
      class="cook-img"
    />
      <h3>Заказ №{{ order.OrderId }}</h3>
      <p>
        До:
        <b>{{ order.DueDate | date: 'dd.MM.yyyy' }}</b>
      </p>
      <p>
        Статус:
        <b>{{ order.Status }}</b>
      </p>
    <mat-icon
      *ngIf="rolesService.getIsAdmin()"
      (click)="deleteOrder(order.OrderId); $event.stopPropagation()"
    >
      delete
    </mat-icon>
    </div>
</div>
