$width: 700px;

* {
  box-sizing: border-box;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.title-recipe,
.ingredients-recipe,
.description-recipe,
.img-recipe-block {
  width: 100%;
  max-width: $width;
  display: flex;
  flex-direction: column;
}

.number-up-down {
  width: 70px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 24px;

  .ingredientUnit {
    width: 150px;
  }
}

.ingredients-recipe-input-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch
}

.ingredients-recipe-form {
  flex-grow: 1;
}

.ingredients-recipe,
.img-recipe {
  margin-bottom: 20px;
}

.img-recipe {
  width: 100%;
  max-width: 300px;
}

button {
  width: 170px;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.list-ingredients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .ingredients-recipe-input-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .number-up-down,
  .select {
    width: 100%;
  }

  .select,
  .img-recipe-block {
    margin-bottom: 20px;
  }

  button {
    width: 100%;
  }

  .ingredients-recipe-form {
    width: 100%;
  }
}
