$width: 700px;

button {
  width: 120px;
  height: 50px;
  border-radius: 20px;
}

.container-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title-recipe,
.ingredients-recipe {
  width: $width;
  display: flex;
  flex-direction: column;
}

.number-up-down {
  width: 70px;
  height: 30px;
}

.select {
  width: 150px;
  background-color: #ffffff;
}

.ingredients-recipe-input-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.ingredients-recipe-form {
  flex-grow: 1;
}

.ingredients-recipe,
.img-recipe {
  margin-bottom: 20px;
}

.description-recipe-form {
  width: $width;
}

.img-recipe-block {
  width: $width;
}

.img-recipe {
  width: 300px;
}

button {
  width: 170px;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.list-ingredients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
